<!DOCTYPE html>
<html>
<head>
    <title>Gym Management - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="login-body">

<div class="login-box">

    <h1>GYM MANAGEMENT</h1>
    <p>Membership Management System</p>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST">

        <label>Username</label>
        <input type="text" name="username" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit">Login</button>

    </form>

    <p class="login-info">
        Default Login: admin / admin123
    </p>

</div>

</body>
</html>